{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
{% endblock %}

{% block title %}Hypnos Hôtels - Réserver{% endblock %}

{% block content %}
    <div class="heading-page">
        <h2>Réservez-votre séjour</h2>
    </div>
    <div class="container frame">
        <div class="row">
            <div class="col text-center">
                <img class="img-fluid" src="{{ asset('assets/images/breakfast.png') }}" alt="Notre petit déjeuner
                continental"
                     width="500">
            </div>
        </div>
        <div class="row">
            <div class="col-6 mt-5">
                {{ form_start(form) }}
                {{ form_row(form.establishment) }}
                <div class="my-5"></div>
                {{ form_row(form.dateStart) }}
            </div>
            <div class="col-6 mt-5">
                {{ form_row(form.suite) }}
                <div class="my-5"></div>
                {{ form_row(form.dateEnd) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
            {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

 {% block javascripts %}
     {{ parent() }}

     <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>

 {% endblock %}
